html {
  height: 100%;
  width: 100%;
  display: grid;
  align-items: center; }

* {
  user-select: none; }

*::before, *::after {
  box-sizing: border-box; }

.wrapper {
  width: 500px;
  height: 500px;
  border-radius: 50%;
  background-color: #272727;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto; }

.green {
  background-color: #249935;
  width: 222px;
  height: 220px;
  border-top-left-radius: 100%;
  position: absolute;
  left: 4%;
  top: 4%; }
  .green.active {
    background: #32CD32; }
  .green:active {
    box-shadow: inset 0px 2px 3px 1px #515151; }
  .green:hover {
    cursor: pointer; }

.red {
  background-color: #890012;
  width: 222px;
  height: 220px;
  border-top-right-radius: 100%;
  position: absolute;
  left: 52%;
  top: 4%; }
  .red.active {
    background: #BE0000; }
  .red:active {
    box-shadow: inset 0px 2px 3px 1px #515151; }
  .red:hover {
    cursor: pointer; }

.blue {
  background-color: #0D397E;
  width: 222px;
  height: 220px;
  border-bottom-right-radius: 100%;
  position: absolute;
  left: 52%;
  top: 52%; }
  .blue.active {
    background: #125DA8; }
  .blue:active {
    box-shadow: inset 0px 2px 3px 1px #515151; }
  .blue:hover {
    cursor: pointer; }

.yellow {
  background-color: #BF9700;
  width: 222px;
  height: 220px;
  border-bottom-left-radius: 100%;
  position: absolute;
  left: 4%;
  top: 52%; }
  .yellow.active {
    background: #FAFA05; }
  .yellow:active {
    box-shadow: inset 0px 2px 3px 1px #515151; }
  .yellow:hover {
    cursor: pointer; }

.options-data {
  display: grid;
  grid-template-columns: 80px 30px 30px;
  grid-gap: 20px; }

.controls {
  background-color: #dbd2e0;
  width: 250px;
  height: 250px;
  position: absolute;
  left: 22%;
  top: 23%;
  border: solid 15px #272727;
  border-radius: 50%;
  z-index: 9999; }
  .controls__title {
    text-align: center; }
  .controls__count {
    background: rgba(0, 0, 0, 0.9);
    border-radius: 4px;
    flex: 1;
    height: 40px;
    width: 60px;
    margin: 0 30px;
    color: grey;
    border: solid #2f2f2f 3px;
    transition: all 0.3s; }
    .controls__count.on {
      color: white; }
    .controls__count--value {
      text-align: center;
      margin-top: 10px;
      position: relative; }
    .controls__count--text {
      color: black;
      position: relative;
      top: 15%;
      left: 20%; }
  .controls__start {
    background: red;
    border-radius: 50%;
    margin: 0 30px;
    width: 25px;
    height: 25px;
    align-self: center;
    border: solid #2f2f2f 3px; }
    .controls__start--text {
      position: relative;
      top: 110%; }
    .controls__start:active {
      box-shadow: inset 0px 1px 2px 0px #515151; }
  .controls__start:hover {
    cursor: pointer; }
  .controls__strict {
    background: yellow;
    border-radius: 50%;
    margin: 0 40px;
    width: 25px;
    height: 25px;
    align-self: center;
    border: solid #2f2f2f 3px; }
    .controls__strict--light {
      position: relative;
      top: -3%;
      left: 80%;
      width: 10px;
      height: 10px;
      background: #25050C;
      border-radius: 50%; }
      .controls__strict--light.active {
        background: red; }
    .controls__strict--text {
      position: relative;
      top: 110%;
      left: -10%; }
    .controls__strict:active {
      box-shadow: inset 0px 1px 2px 0px #515151; }
  .controls__strict:hover {
    cursor: pointer; }
  .controls__power {
    margin: 40px auto;
    margin-left: 30px;
    display: grid;
    justify-content: center;
    grid-template-columns: 20px 60px 50px;
    grid-gap: 10px; }
    .controls__power-background {
      background: #272727;
      border-radius: 4px;
      height: 28px;
      align-self: center; }
    .controls__power-switch {
      width: 26px;
      height: 78%;
      background: #2C80D9;
      border-radius: 4px;
      border: solid #2f2f2f 3px;
      align-self: center;
      z-index: 9999;
      transition: all 0.2s; }
      .controls__power-switch.active {
        transform: translateX(26.5px); }
    .controls__power-switch:hover {
      cursor: pointer; }
